
#mailbox{
    background: url(../img/icon.png) -50px -193px no-repeat;
}

.mail{
    margin-right: 15px;
}

#phone{
    height: 19px;
    background: url(../img/icon.png) -75px -196px no-repeat;
}




.title{
    /*min-width: 2000px;*/
    height: 655px;
}
.title-bg{
    /*width: 2000px;*/
    height: 655px;
    background: url(../img/register.png) no-repeat;
    background-position: center;

}
.title-center{
    width: 1150px;
    height: 655px;
    margin:0 auto;
    /*background: #ddabca;*/
}
.title-top{
    height: 56px;
    /*background: #ddd9b4;*/
    overflow: hidden;
}
.title-top a{
    display: inline-block;
    width: 167px;
    height: 43px;
    background: url(../img/icon.png) 0 -282px no-repeat;
    margin-top:8px;
}
.title-top s{
    display: inline-block;
    width: 1px;
    height: 50px;
    background: #bbbbbb;
    margin:0 8px;
    vertical-align: -3px;
}
.title-top strong{
    display: inline-block;
    height: 56px;
    line-height: 56px;
    font-size: 24px;
    color:#555555;
    font-weight: 500;
    vertical-align: 11px;
}
.popups{
    width: 513px;
    height: 584px;
    background: #fff;
    margin:0 auto;
    border:1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 0 5px #cccccc;
}

.user{
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color:#333333;
    font-weight: 500;
    text-align: center;
}
.popups ul{

    height: 50px;
    /*background: #b2dddc;*/
    margin:0 70px;
}
.popups li{
    float:left;
}
.user-content{
    height: 50px;
    margin-left: 28px;
}
.user-content u{
    height: 50px;
    line-height: 50px;
    color:#ec6d24;

}
.user-content s{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color:#727272;
}


.write-common{
    width: 267px;
    height: 38px;
    border:1px solid #cccccc;
    border-radius: 5px;
    margin-top:5px;
    margin-left:19px;
    overflow: hidden;
}
.write-common input{
    display: inline-block;
    border:none;
    width: 233px;
    height: 36px;
    font-size: 14px;
    padding-left:4px;

}
.write-common i{
    display: inline-block;
    width: 23px;
    height: 18px;
    background: url(../img/icon.png) 0 -191px no-repeat;
    position: relative;
    top: 5px;
    left: -5px;
}

.password-content{
    height: 50px;

}
.password-content u{
    height: 50px;
    line-height: 50px;
    color:#ec6d24;

}
.password-content s{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color:#727272;
}
.password li i{
    display: inline-block;
    width: 23px;
    height: 20px;
    background: url(../img/icon.png) -23px -190px no-repeat;
    position: relative;
    top: 5px;
    left: -5px;
}
.code input{
    height: 36px;
    width: 114px;
    border:1px solid #cccccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 19px;
    font-size: 14px;
    padding-left:4px;

}
.code b{
    display: inline-block;
    width: 100px;
    height: 36px;
    background: #b0b0b0;
    line-height: 36px;
    text-align: center;
    color:#fff;
    font-size: 14px;

}
.code a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color:#8b8b8b;

}

.agree{
    /*background: #b2dddc;*/
}
.agree-text i{
    display: inline-block;
    width: 12px;
    height: 13px;
    border:1px solid #cccccc;
    border-radius: 2px;
    vertical-align: -3px;
    margin-left: 4px;

}
.agree-text i p{
    /*display: inline-block;*/
    width: 15px;
    height: 7px;
    background: url(../img/icon.png) -100px -202px;
    position: relative;
    top: 4px;
    left: 1px;
    display: none;
}



.blank{
    width: 101px;
    height: 50px;
}
.agree-text s{
    display: inline-block;
    height: 50px;
    font-size: 12px;
    color:#cccccc;
    line-height: 50px;

}
.agree-text s span{
    color:#70ad46;
}
.again{
    margin-left:52px;
}
.again a{
    display: inline-block;
    height: 50px;
    line-height: 50px;

}
.again s{
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #d9d9d9;
    margin:0 4px;
}

.agree .again .green{
    color:#70ad46;
}
.sub li input{
    display: inline-block;
    width: 270px;
    height: 40px;
    border:none;
    background: #70ad46;
    border-radius: 5px;


    /*line-height: 40px;*/
    /*text-align: center;*/
    /*color:#fff;*/
    /*font-size: 14px;*/

    cursor: pointer;
}
.sub li input a{
    height: 40px;
    line-height: 40px;
    color:#fff;
    font-size: 14px;
    text-align: center;
}

.dashed p{
    height: 50px;
    line-height: 50px;
    font-size: 14px;

}


/*
.comp{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    margin:0 10px;

}
*/


/*.dashed-line{
    display: inline-block;
    height: 50px;
    line-height: 50px;
}*/

.medium{
    width: 280px;
    height: 60px;
    margin:0 auto;
    /*background: #b2dddc;*/
    text-align: center;

}
.qq{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #5ec5f2;
    border-radius: 50%;


}
.qq i{
    display: inline-block;
    width: 29px;
    height: 34px;
    background: url(../img/icon.png) 0 -222px no-repeat;
    margin-top: 12px;
    margin-left: 0;
}
.Sina{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #f69a85;
    border-radius: 50%;
    margin: 0 45px;

}
.Sina i{
    display: inline-block;
    width: 37px;
    height: 34px;
    background: url(../img/icon.png) -37px -222px no-repeat;
    margin-top: 13px;
    margin-left: 0;
}
.WeChat{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #7ee885;
    border-radius: 50%;

}
.WeChat i{
    display: inline-block;
    width: 41px;
    height: 34px;
    background: url(../img/icon.png) -81px -222px no-repeat;

    margin-top: 13px;
    margin-left: 0;
}
/*&&&&&&&&&&&&&&&&&&*/

.bottom{
    /*width: 100%;*/
    min-width: 1250px;
    height: 262px;
    background: #242623;

}
.bottom-wrap{
    width: 1150px;
    height: 262px;
    /*background: #ddabca;*/
    margin:0 auto;
}
.bottom-l{
    float:left;
    width: 970px;
    height: 192px;
    /*background: #5f8eaa;*/
    margin-top:54px;
}
.bottom-r{
    float:right;
    width: 152px;
    height: 192px;
    /*background: #2d7468;*/
    margin-top:54px;
}
.friendship{
    /*width: 834px;*/
    height: 26px;
    /*background: #ddd9b4;*/
    margin-top: 9px;
}
.friendship a{
    display: inline-block;
    font-size: 12px;
    color:#fff;
    /*margin-right:4px;*/
}
.bottom-l s{
    display: inline-block;
    width: 954px;
    height: 1px;
    background: #444444;

}
.company u{
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #fff;
    margin-right:2px;
    vertical-align: -2px;
}
/*
.bottom-r i{
    display: inline-block;
    width: 152px;
    height: 154px;
    background: url(../img/二维码.png);
}*/

.bottom-r p{
    font-size: 12px;
    color:#fff;
    margin-top:14px;
    text-align: center;
}





/*弹出窗*/



#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*display: none;*/

}






.pop{
    float:left;
    width: 284px;
    height: 178px;
    border:1px solid #cccccc;
    border-radius: 5px;
    margin-right:14px;
    background: #fff;

    position:fixed;
    top:30%;
    left:50%;
    margin-left:-142px;

    display: none;
}

.cha:hover{
    background: #cccccc;
    color:#fff;
}


.cha{

    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    color: #cccccc;
    position: relative;
    top: 0;
    left: 250px;
    border: none;
    background: #fff;
    text-align: center;
    margin-top:5px;

}

.juzhong{
    text-align: center;

}
.juzhong s{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/icon.png) -109px -37px no-repeat;
    vertical-align: -4px;
}
.juzhong em{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    font-size:20px ;
    color:#333333;
    font-weight: 500;
}
.juzhong a{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color:#959595;
    margin-right:4px;
}
